    <!-- Live Pics Start -->
    <script>home()</script>
    <div class="stage">
      <div id="SLDR-ONE" class="sldr">
        <ul class="wrp animate">
          <li class="elmnt-one">
            <div class="skew">
              <div class="wrap">
                <img src="assets/1.jpeg" width="1000" height="563">
              </div>
            </div>
          </li>
          <li class="elmnt-two">
            <div class="skew">
              <div class="wrap">
                <img src="assets/2.png" width="1000" height="563">
              </div>
            </div>
          </li>
          <li class="elmnt-three">
            <div class="skew">
              <div class="wrap">
                <img src="assets/3.png" width="1000" height="563">
              </div>
            </div>
          </li>
          <li class="elmnt-four">
            <div class="skew">
              <div class="wrap">
                <img src="assets/4.jpg" width="1000" height="563">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <ul class="selectors">
        <li class="focalPoint"><a href="">•</a></li>
        <li class="not-selected"><a href="">•</a></li>
        <li class="not-selected"><a href="">•</a></li>
        <li class="not-selected"><a href="">•</a></li>
      </ul>
    </div>
  <!-- Live Pics End -->

<h3>
   According to the World Health Organization (WHO), India suffers from an annual deficit of two million blood units, as only 1% of Indian population donates blood each year.
</h3>

<li>
  <ul>
      <h4> 1.	Red cells, platelets, plasma, and cryoprecipitate are the four types of transfusable products that can be derived from blood. </h4>
  </ul>
  <ul>
      <h4> 2.	Separating the whole blood into its various components can allow a single unit of blood to benefit multiple patients, and this process of donating specific components is called Apheresis. </h4>
  </ul>
  <ul>
      <h4>3.	AB+ is the universal recipient of blood, which means AB positive persons can receive blood from any blood group. while O negative is the universal donor, which means O negative persons can donate blood to persons with any other blood group.</h4>
  </ul>
  <ul>
      <h4>4.	Donated platelets must be used within five days and red blood cells must be used within forty two days from the date of collection.</h4>
  </ul>
  <ul>
      <h4>5.	Blood products like plasma and cryoprecipitate are stored in a frozen state and thereby these products can be used for up to one year after collection.</h4>
  </ul>
  <ul>
      <h4>6.	All donated blood products have to be screened for HIV, hepatitis B, hepatitis c and syphilis before transfusion.</h4>
  </ul>
  <ul>
      <h4>7.	Blood transfusions are often used for supportive care in various surgeries. In lower and middle income countries especially they can also be used in the management of pregnancy-related complications, childhood malaria complicated by severe anemia and trauma-related injuries.</h4>
  </ul>
  <ul>
      <h4>8.	Unnecessary transfusions can expose patients to HIV, hepatitis and adverse transfusion reactions.</h4>
  </ul>

</li>

<br><br>
<img src="assets/home.jpg">

<br><br><br><br>

<h1 style="float: right;color: red;"><i>- Life is precious and so is being a "Life-Saver"....</i></h1>
<br><br><br><br><br><br>


<!-- Footer Start -->
    <app-footer></app-footer>
  <!-- Footer End -->
  <router-outlet></router-outlet>