<!-- Refrence Bar Start -->
<section id="topbar" >
    <div class=" row-fluid">
        <div class="contact-info span5 offset1">
            <i class="fa fa-envelope-o"></i> <a href="mailto:lifesavers1104@gmail.com">lifesavers@gmail.com</a>
            <i class="fa fa-phone"></i><a href="tel:+919426657176"> +91 9426657176</a>
        </div>
        <div class="social-links span3 offset2">
            <a href="https://instagram.com/lifesavers1104" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/lifesavers1104" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/LifeSav59292036" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/lifesavers" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://goo.gl/maps/CJeCfQBYa3kKepbHA" class="google" target="_blank"><i class="fa fa-google"></i></a>
            <a href="https://api.whatsapp.com/send?phone=919426657176&text=Hello,%20WELCOME%20TO%20LIFE%20SAVERS..." class="whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
  </section>
  <!-- Refrence Bar End -->

  <!-- Header Start -->
  <header id="header">
        <div class="container" style="background-color: white;">
          &nbsp;&nbsp;<img src="assets/logo.png" width="47px" style="margin-top:0px">
          <div id="logo" class="pull-left">
            <h1><a href="/home" class="scrollto">Life Savers</a></h1> 
          </div>

          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li id="home"><a href="/home">Home</a></li>
              <li id="request"><a href="/request">Request</a></li>
              <li id="donate"><a href="/donate">Donors List</a></li>
              <li id="about-us"><a href="/About-Us">About Us</a></li>
              <li id="login"><a href="/login">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <!-- Header End -->


<router-outlet></router-outlet>