<br><br>
<div class="limiter">
    <div class="container-login200" style="overflow-y: auto;">
      <div class="wrap-login100 p-l-20 p-r-30 p-t-5">
        <form id="form9" class="login100-form validate-form p-t-20" action="/login" (submit)="updatePassword($event)" >
          <span class="login100-form-title p-b-25" >
            Change Password
          </span>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">New Password</span>
            <input class="input100" type="password" name="pass" id="pass" placeholder="Type your new password" />
            <span class="focus-input100" data-symbol="&#xf190;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Re-enter Password is required">
            <span class="label-input100">Re-enter New Password</span>
            <input class="input100" type="password" name="cpass" id="cpass" placeholder="Type your new password again" />
            <span class="focus-input100" data-symbol="&#xf190;"></span>
          </div>

          <div class="wrap-login100-form-btn">
            <!-- <div class="login100-form-bgbtn"></div> -->
            <button id="button1" class="login100-form-btn" type="submit" >
              change password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>