<br><br><br><br>
<h4>
    Universally, 'Blood' is recognized as the most precious element that sustains life. 
</h4>
<h4>
    It saves innumerable lives across the world in a variety of conditions. 
</h4>
<h4>
    Once in every 2- seconds, someone, somewhere is desperately in need of blood. 
</h4>
<h4>
    More than 29 million units of blood components are transfused every year. 
</h4>
<h4>
    The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed. 
</h4>
<h4>
    Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.
</h4>
<h4>
    Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed to the lack of information and accessibility.
</h4>    
<h4>
    We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.
</h4>
<br><br><br>
<app-footer></app-footer>
<router-outlet></router-outlet>