<footer id="footer">
    <!-- footer class="page-footer font-small pt-4" -->
    <div class="container row-fluid span8 text-center temp">
      <br><br>
      <div class="span2 offset1 ">
        <img class="logo" src="assets/logo.png" alt="Logo" width="80px"  />
        
          <h3><strong>Life Savers</strong></h3>
          <h4><strong>Address :</strong></h4> 
          <p>29, Shyamli Society, Deri Road,<br>Nadiad, Gujarat 387001.</p>
      </div>            
      <div class="span3 offset4">
        <div class="contact-info">
        <h4><strong> Contact Us : </strong></h4>
          <i class="fa fa-phone"></i><a href="tel:+919426657176"> +91 9426657176</a>
          <br>
          <i class="fa fa-envelope-o"></i> <a href="mailto:dslrclicks2504@gmail.com"> lifesavers@gmail.com</a>
          <br><br><br>
        </div>
        <div class="social-links">
          <h4><strong>Our Social Platforms</strong></h4>
          <a href="https://instagram.com/dslrclicks_" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/dslrclicks_" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/jainam4320" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/jainam4320" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://goo.gl/maps/CJeCfQBYa3kKepbHAA" class="google" target="_blank"><i class="fa fa-google"></i></a>
          <a href="https://api.whatsapp.com/send?phone=919426657176&text=Hello,%20WELCOME%20TO%20LIFE%20SAVERS." class="whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>

    </div>
    <br>
    <div class="footer-copyright text-center">
      <i class="fa fa-copyright"></i> 2019
      <!-- <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>  -->
      All Rights Reserved | Designed & Developed By Life Savers
    </div>
  </footer>

  <router-outlet></router-outlet>